In [1]:
import random
%timeit time_list = [random.randrange(1,50) for count in range (0,1000000)]

112 ms ± 6.87 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [4]:
# Faster way
import numpy as np
%timeit time_list = np.random.randint(1,50,1000000)

9.26 ms ± 134 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [5]:
# Task:用时间函数检查GCD三个算法的时间。

In [3]:
import pandas as pd
marks = pd.Series([56,67,89])

marks

0    56
1    67
2    89
dtype: int64

In [3]:
marks.describe()

count     3.000000
mean     70.666667
std      16.802778
min      56.000000
25%      61.500000
50%      67.000000
75%      78.000000
max      89.000000
dtype: float64

In [4]:
marks = pd.Series({'David':67,'James':80,'Sam':99})
marks

David    67
James    80
Sam      99
dtype: int64

In [5]:
# Access the value
marks['David']

67

In [11]:
marks.James   # another way

80

In [12]:
marks.values  # show all the values

array([67, 80, 99], dtype=int64)

In [6]:
marks_dict = {'David':[50,22,33],'James':[23,44,66],'Sam':[49,39,10]}
marks = pd.DataFrame(marks_dict)

In [17]:
marks

   David  James  Sam
0     50     23   49
1     22     44   39
2     33     66   10

In [13]:
marks.index = ['DMT','CST','SWE']
marks

     David  James  Sam
DMT     50     23   49
CST     22     44   39
SWE     33     66   10

In [14]:
marks.loc['DMT':'SWE',['David','Sam']] 
# 控制行以及列的输出

     David  Sam
DMT     50   49
CST     22   39
SWE     33   10

In [5]:
import csv
csv_data = pd.read_csv('#Path of your csv file')
# 路径要使用\\ 
# C:\\Destop\\...

csv_data

FileNotFoundError: [Errno 2] File b'#Path of your csv file' does not exist: b'#Path of your csv file'

In [ ]:
# Exercise:Using the Divide and Conquer Algorithm Write Python Code for: 
# (i) Binary Search 
# (ii) Mergesort